<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})" >
<head>
	<meta charset="UTF-8" />
	<title>This is show contacts</title>
</head>
<body>

	<section>
      
      <div class="card me-3 ms-3">
      	
      	<div class="card-body">
      	
      		<h1 class="text-center">Your Contacts</h1>
      	
      		<!-- search -->
      		
      		<div class="search-container my-3">
      		
      		<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search Your Contacts" />
      		
      			<div class="search-result">
      			
      				<!-- result goes here -->
      						
      						
      						
      			</div>
      		
      		</div>
      		<div class="table-responsive">
      		
      		<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">#ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  
  
    <tr th:each="c :${contacts}">
      <th scope="row" th:text="${'SCMUSER'+c.cId}">1</th>
      <td >
       <a href="#" th:href="@{'/user/'+${c.cId}+'/contact'}">  <!-- this anchor will go to contact detail -->
      	
      	<img src="" class="my_profile_picture" th:src="@{'/img/'+${c.image}}" alt="profile photo" />
     
      <span th:text="${c.name}"></span>
      </a>
      </td>
      <td th:text="${c.email}"></td>
      <td th:text="${c.phone}"></td>
      <td>
      
      	<a href="#" th:onclick="|deleteContact(${c.cId})|" class="btn btn-danger btn-sm">
      	<i class="fa-solid fa-trash-can"></i>
      	</a>
      	
      	<form method="post" th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2">
      	
      	<button type="submit" class="btn btn-primary btn-sm">
      	<i class="fa-solid fa-file-pen"></i>
      	</button>
     
      </form>
      
      </td>
    </tr>
   
  </tbody>
</table>
      	</div>
      	<!-- pagination part  -->
      	
      	<nav aria-label="Page navigation example">
  
  <ul class="pagination">
    
    <li th:if="${currentPage != 0 }" class="page-item">
    <a th:href="@{'/user/show-contacts/'+${currentPage-1}}" class="page-link" href="#">
    <i class="fa-solid fa-angles-left">
    </i></a></li>
    
    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item">
    <a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link" href="#">
    <span th:text="${i}">
    </span></a></li>
    
    <li th:if="${currentPage+1 != totalPages }" class="page-item">
    <a th:href="@{'/user/show-contacts/'+${currentPage+1}}" class="page-link" href="#">
    <i class="fa-solid fa-angles-right">
    </i></a></li>
  </ul>
</nav>
      	
      	</div>
      </div>
      <script>
      $(document).ready(() => {
      	$('.item').removeClass('active');		
      	$('#contacts-link').addClass("active");
      	
      });
      </script>
      
	</section>
	
</body>
</html>