<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})" >
<head>
	<meta charset="UTF-8" />
	<title>This is aboutpage</title>
</head>
<body>

	<section>
      <div class="container">
      
      	<div class="card">
      		<div class="card-body my-3">
      		
      			<div class="container text-center">
      		<img src="" style="height: 200px; width: 200px;" class="my_profile_picture " th:src="@{'/img/user_logo.png'}" alt="profile photo" />
      		</div>
      		
      		
      		
      		
      		<h1 class="text-center mt-3 ">Start Adding your contact on cloud...</h1>
      		
      		
      		<a th:href="@{/user/add-contact}" class="btn btn-primary mt-3 btn-lg w-100">Add New Contact</a>
      		
      		</div>
      	</div>
      
      </div>
      
      <script>
      $(document).ready(() => {
      	$('.item').removeClass('active');		
      	$('#home-link').addClass("active");
      	
      });
      </script>
      
      
	</section>
	
</body>
</html>